body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.qr-code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 17rem;
    height: 25rem;
    margin: auto;
    background-color: white;
    padding: 0.1rem 0.1rem 1.4rem 0.1rem;
}

.container-text{
    text-align: center;
    padding: 0 0.02rem;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
}

.container-text p{
    font-size: 13px;
    opacity: 60%;
    font-family: 'Outfit', sans-serif;
}

.img-qr-code{
    width: 15.5rem;
    margin-top: 0.4rem;
    border-radius: 4%;
}

@media (max-width: 375px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
    }

    .qr-code-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 85%;
        height: 63%;
        margin: auto;
        background-color: white;
        padding: 4% 0 7% 0;
    }

    .container-text{
        text-align: center;
        margin: 0 5% 0 5%;
        color: hsl(218, 44%, 22%);
        font-family: 'Outfit', sans-serif;
    }

    .container-text p{
        font-size: 15px;
        opacity: 60%;
        font-family: 'Outfit', sans-serif;
    }

    .img-qr-code{
        width: 90%;
        margin-top: 5%;
        border-radius: 4%;
    }
}